@model IEnumerable<PopularRadioSongs.Application.UseCases.Artists.GetArtistsList.GroupArtistListDto>

@{
    ViewData["Title"] = "Artists by Name";
}

<h1>Artists by Name</h1>

<table class="table">
    <tbody>
        @foreach (var artistGroup in Model)
        {
            <tr>
                <td>
                    @artistGroup.Letter
                </td>
                <td>
                </td>
            </tr>
            @foreach (var artist in artistGroup.Artists)
            {
                <tr>
                    <td>
                    </td>
                    <td>
                        <a asp-controller="Artists" asp-action="Index" asp-route-artistId="@artist.Id">@artist.Name</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>