@model IEnumerable<PopularRadioSongs.Application.UseCases.Artists.GetArtistsList.ArtistListDto>

@{
    ViewData["Title"] = "Artists by Name";
}

<h1>Artists by Name</h1>

<table class="table">
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Artists" asp-action="Index" asp-route-artistId="@artist.Id">@artist.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>