@model PagedViewModel<List<PopularRadioSongs.Application.UseCases.Artists.GetArtistsSongsCountList.ArtistSongsCountListDto>>

@{
    ViewData["Title"] = "Artists by Songs Count";
}

<h1>Artists by Songs Count</h1>

<table class="table">
    <tbody>
        @foreach (var artist in Model.Value)
        {
            <tr>
                <td>
                    @artist.SongsCount
                </td>
                <td>
                    <a asp-controller="Artists" asp-action="Details" asp-route-artistId="@artist.Id">@artist.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PaginationPartial" for="PagedData" />