@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Popular Radio Songs!</h1>

    <p>
        <a class="btn btn-outline-primary" asp-controller="Artist" asp-action="ArtistsByName">Artists by Name</a>
        <a class="btn btn-outline-primary" asp-controller="Artist" asp-action="ArtistsBySongsCount">Artists by Songs Count</a>
    </p>

    <p>
        <a class="btn btn-outline-primary" asp-controller="Song" asp-action="SongsByTitleCount">Songs by Title Count</a>
    </p>
</div>