@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Popular Radio Songs!</h1>

    @if (Model.ShowManualImport)
    {
        <div class="card border-danger mb-3">
            <div class="card-header text-danger border-danger bg-transparent">
                Warning, Dev options only!
            </div>
            <div class="card-body">
                <a class="btn btn-outline-danger" asp-controller="Imports" asp-action="Index" asp-route-hoursRange="1">Import last full hour</a>
                <a class="btn btn-outline-danger" asp-controller="Imports" asp-action="Index" asp-route-hoursRange="24">Import last 24 hours</a>
            </div>
        </div>
    }

    <p>
        <a class="btn btn-outline-primary" asp-controller="Artists" asp-action="ArtistsByName">Artists by Name</a>
        <a class="btn btn-outline-primary" asp-controller="Artists" asp-action="ArtistsBySongsCount">Artists by Songs Count</a>
    </p>

    <p>
        <a class="btn btn-outline-primary" asp-controller="Songs" asp-action="SongsByTitleCount">Songs by Title Count</a>
    </p>

    <p class="btn-group" role="group">
        @foreach (var radioStationName in Model.RadioStationNames)
        {
            <a class="btn btn-outline-primary" asp-controller="RadioPlaybacks" asp-action="Index" asp-route-radioId="@radioStationName.Key"> Playbacks Radio @radioStationName.Value</a>
        }
    </p>

    <p>
        <a class="btn btn-outline-primary" asp-controller="Search" asp-action="Index">Search Artist or Song</a>
    </p>
</div>